<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<div id="box" class="border controls search-container" data-bs-theme="dark">
    <div style="display: flex; width: 100%; gap: 10px;">
        <input type="text" id="searchBox" placeholder="Buscar localização..." onkeyup="autocompleteSearch()">
        <button class="btn btn-dark" onclick="searchLocation()">🔍</button>
    </div>
    <div id="searchResults" class="search-results"></div>
</div>
<div id='map'></div>