  #map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #namNav{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
  }

  #cad{

    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.625);

  }

  